*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.line{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto 50px;
}
.main-color{
  color: #0078ff;
}
.line-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  top: 35px;
}
/* <circle> */
.circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #0078ff;
    transition: all 500ms ease;
    margin-bottom: 10px;
}

.socials-circle{
    transition: all 500ms ease;
}
.socials-circle:hover{
  background-color: #0078ff;
  color: #fff;
}
.circle:hover{
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
  }

  .line-left{
    font-size: 2rem;
    position: relative;
  } 
    .layer{
      background-color: rgb(0, 120, 255,0.5);
      padding: 0;
      width: 100%;
      height: 100%;
    }

/* </circle> */

/* <Nav> */


  .navbar-toggler-icon{
    background-color: #fff;
  }
 


.nav-link:hover{
  color:#fff;
}
 .navbar{
  background-color:  rgba(0, 0, 0, 0.6);
  
 }
 .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:#fff;
}
.nav-underline .nav-link:hover{
  transition: 2s all;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  text-transform: uppercase;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 50px;
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}


.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: #4e4e4e;
}



.navbar .dropdown ul li:hover>a {
  color: #0078ff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left:0;
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: -100%;
  visibility: visible;
}

  

/* </Nave> */

/* <Home> */
.home{
    background-image:url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
}
.layer-home{
  background-color: rgba(0,0,0,0.8);
  padding: 0;
  width: 100%;
  height: 100%;
}
/* </Home> */

/* <About> */
.about-line{
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    margin: 0 auto;
}
.progress{
    background-color: #cde1f8;
    margin: 8px 0 20px 0;
    height: 0.7rem;
}
.progress-bar{
    height: 0.7rem;
    background-color: #0078ff;
}
@media (min-width: 767px) {
  .container {
    min-width:992px;
  }
}
/* </About> */



/* <counter> */
.bg-image-count {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.layer-count {
  background-color: #0078ff;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-count{
  position: relative;
  padding: 8rem 0;
}


.counter-ico {
  margin-bottom: 1rem;
}

.ico-circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 10px 15px;
  box-shadow: 0 0 0 8px #cde1f8;
}
/* </counter> */

/* <PORTFOLIO> */
.port-box {
    margin-bottom: 3rem;
    background-color: #fff;
  }
  .port-box:hover img {
    transform: scale(1.3);
  }
  .port-img img {
    transition: all 1s;
  }
  .port-icon{
    bottom: 25%;
    right:20%;
    
  }
  .port-icon-color{
    background-color: #0078ff;
    color: #fff;
  }
 

  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
  }
/* </PORTFOLIO> */

/* <testimonial> */
.testimonial {
    background-image: url(../img/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-color: rgba(51, 147, 255,);
    width: 100%;
    height: 80vh;
}
.carsouel-img {
  width: 15%;
  margin: auto;
  padding: 2rem 0;

}
/* </testimonial> */



/* <Contact> */
.contact{
  background-image: url(../img/overlay-bg.jpg);
  background-size: cover;
  background-position: center center;
}

  textarea{
    resize: none;
  }
  .btn{
   background-color: #0078ff;
    color: #fff;
    border-radius: 5rem;
    padding: 10px 24px;
    transition: 0.4s;
    
  }
  .btn:hover {
    background-color: #3393ff;
    text-decoration: none;
    box-shadow: 0 0 0 2px #cde1f8;
  }
  /* </Contact> */

  /* <Footer> */
  footer{
    background-color: #0078ff;
    text-align: center;
  }

  
/* </Footer> */


